.titleContainer{
    text-align: center;
    display: flex; 
  align-items: center;
  justify-content: center;
  }
/*  more .titleContainer */
.titleContainer  button{
   margin: 7px;
   padding: 9px 20px;
   background: #2dbf64;;
   border: none; color: rgb(0, 0, 0);
   font-size: 1.2rem;
   border-radius: 0.3rem;
   font-weight: bold;


}
a{
  color: #000;
}
.titleContainer button:active{
  background: #00c44b;
}
/*  INFU  CONTAINER */
.InfuContainer ul li{
  display: inline-flex; 
  margin: 20px;
}
.InfuContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  padding: 2rem;
  transition: 0.5s linear;
  display: none;

}
/* main title container  */
.mx-auto{
    margin: auto;
    background: #000;
}
.flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }